@mixin tablet{
  @media (min-width: $media-sm){ @content }
}

@mixin tablet-land{
  @media (min-width: $media-md){ @content }
}

@mixin desktop{
  @media (min-width: $media-lg){ @content }
}


html{
  overflow-x: hidden;
}

html, body {
  min-height: 100vh;
}

*{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all .3s;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  color: $color-black;
}

h1, h2, h3, h4, h5, h6, ul, menu, dir, p, blockquote {
  margin: 0;
}

ul{
  list-style: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

[role="button"] {
  cursor: pointer;
}

@media (max-width: $media-sm - 1px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: $media-sm) and (max-width: $media-md - 1px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: $media-md) and (max-width: $media-lg - 1px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: $media-lg) {
  .hidden-lg {
    display: none !important;
  }
}

.inline-block{
  display: inline-block;
}

.inline-block-md{
  @include tablet-land {
    display: inline-block;
  }
}

.text-justify{
  text-align: justify;
}

.text-justify-md{
  @include tablet-land{
    text-align: justify;
  }
}

.text-center{
  text-align: center;
}

.text-center{
  @include tablet-land{
    text-align: center;
  }
}

.text-left{
  text-align: left;
}

.text-left-md{
  @include tablet-land {
    text-align: left;
  }
}

.text-right{
  text-align: right;
}

.text-right-md{
  @include tablet-land {
    text-align: right;
  }
}

